@CHARSET "UTF-8";

/**
 * 	General settings
 */
body {
	font-size: 10pt;
}

hr {
	border-top: 1px dashed;
	border-bottom: 1px dashed;
}

table {
	border-collapse: collapse;
	border: 0px;
	width: 100%;
}

@media print {
	.print-hide {
		display: none !important;
	}
}

/*------Special-----*/
.packing_slip {
	display: block;
	margin: auto auto;
	height: 120pt;
	max-height: 150pt;
	width: 270pt;
	position: relative;
	overflow: hidden;
	border: 1px solid #FFF;
}

.address_label {
	width: 60%;
	float: left;
	width: 130pt;
}

.address_label_from {
	font-size: 0.6em;
}

.address_label_to {
	font-size: 0.9em;
	line-height: 1em;
	margin-bottom: 5px;
}

.invoice_label {
	width: 48%;
	position: absolute;
	bottom: 0;
	right: 0;
	border: 1px solid #000;
	padding: 2px;
	max-width: 48%;
}

.invoice_label span {
	font-size: 0.6em;
	padding: 2px;
	border: 1px solid #000;
	float: left;
	margin: 0 -1px -1px 0;
}

.invoice_detail {
	clear: both;
	display: inline-block;
}

.invoice_label_from {
	float: right;
	text-align: right;
	font-size: 0.6em;
}

.invoice_label_to {
	font-size: 0.6em;
}

.delivery_service {
	font-size: 0.6em;
	text-align: right;
	margin: 5px;
	font-family: helvetica;
	margin: 0;
	white-space: nowrap;
}

.consignment_info {
	font-size: 1em;
	line-height: 1em;
}

.delivery_service_stamp {
	float: right;
	display: block;
	text-align: right;
	width: 135pt;
	max-width: 48%;
	overflow: hidden;
}

.delivery_service_stamp img {
	max-width: 100%;
	max-height: 100%;
}

.multiple_product_consignment_indictor {
	border: dashed 2pt #000;
}

.barcode {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0;
	top: auto;
	right: auto;
	min-width: 150px;
}

/**
 * 	Duplicate
 */
.duplicate .address_label_to {
	font-size: 0.7em;
}

.duplicate > .delivery_service_stamp {
	display: block;
	bottom: 0;
	left: 0;
	position: absolute;
	float: left;
	max-width: 50%;
}

.duplicate > .barcode {
	position: absolute;
	right: 0;
	top: 0;
	left: auto;
	bottom: auto;
}

/**
 * 	CN22
 */
.CN22 {
	height: 270pt;
	max-height: 270pt;
	line-height: 100%;
}

.CN22 small {
	display: block;
	font-size: 80%;
	line-height: 100%;
}

.CN22 > .address_label {
	float: right;
}

.CN22.duplicate .address_label {
	float: left;
}
.CN22 .address_label .delivery_service_stamp {
	width: 100%;
	max-width: 100%;
}

.customs_info {
	width: 120pt;
	font-size: 60%;
	float: left;
	border: 1px solid #000;
	padding: 5px;
}

.customs_info_body {
	border-top: 1px solid #000;
}

/**
 * 	4X4
 */
.SIZE4X4 {
	height: 270pt;
	max-height: 270pt;
	line-height: 100%;
}

/**
 * 	RoyalMail Standard Service
 */

.rms .postcode_sortcode {
	float: right;
	font-size: 20pt;
	font-weight: bold;
}

/**
 * 	RoyalMail High Volume Tracked Service
 */
.rmhv * {
	color: #000;
}

.rmhv {
	position: relative;
}

.rmhv .canvas {
	width: 270pt;
	height: 405pt;
	padding: 5pt;
	border: 1px solid #333;
}

.rmhv .canvas .service_label {
	float: left;
	text-align: left;
}

.rmhv .canvas .service_label img {
	width: 120pt;
}

.rmhv .canvas .ppi {
	float: right;
	text-align: left;
}

.rmhv .canvas .ppi img {
	width: 140pt;
}

.rmhv .canvas .ppi .stamp {

}

.rmhv .canvas .ppi .signature_required {

}

.rmhv .canvas .ppi .signature_required img {
	width: 60pt;
}

.rmhv .canvas .safeplace {
	margin: 100pt auto 10pt auto;
	width: 80%;
	padding: 1pt;
	font-family: "Arial";
	font-size: 13pt;
	border: 1px solid #000;
	visibility: hidden;
}

.rmhv .canvas .barcode {
	margin: 10pt auto 5pt auto;
	position: relative;
	text-align: center;
}

.rmhv .canvas .barcode img {

}

.rmhv .canvas .return_address {
	position: absolute;
	float: left;
	width: 220pt;
	margin-left: -100pt;
	margin-top: 30pt;
	font-size: 6pt;
	line-height: 6pt;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
}

.rmhv .canvas .address {
	border: 1px solid #000;
	margin: 0pt 0pt 10pt 20pt;
	float: left;
	padding: 2pt;
	position: relative;
}

.rmhv .canvas .address .main_address {
	font-size: 12pt;
	line-height: 12.5pt;
	width: 190pt;
}

.rmhv .canvas .address .reference {
	bottom: 0;
	right: 0;
	font-size: 6pt;
	text-align: right;
	line-height: 6pt;
	width: 100%;
}

.rmhv .canvas .address .reference span {
	margin-left: 2pt;
	float: right;
}

.rmhv .canvas .rm_label {
	float: right;
	text-align: center;
	margin-top: 50pt;
}

.rmhv .canvas .rm_label img {
	width: 50pt;
}

.rmhv .canvas .postcode_sortcode {
	float: left;
	font-size: 30pt;
	margin: 10pt 5pt 0pt 30pt;
}

.rmhv .canvas .postcode_barcode {
	margin-left: 140pt;
	margin-right: 5pt;
}

/**
 * 	DHL
 */
.dhl .return_address {
	border-bottom: 1px solid #000;
	font-size: 0.6em;
	line-height: 0.9em;
}

