/**
 * BirdSystem Specific classes
 */
.x-bt-icon-DeliveryServiceStampImage {
	width: 180px !important;
	height: 100px !important;
	background-size: 180px 100px;
}

.productProductCategoryDisplayField {
	cursor: pointer;
}

.productProductCategoryDisplayField > span {
	margin-right: 5px;
	border: 1px solid #99BBE8;
}
.productProductCategoryDisplayField > span > span {
	margin: 2px;
}
/** Report table **/
table.gridlines {
	margin: 0px auto 20px auto;
	width: 100%;
	min-width: 500px;
	border-collapse: collapse;
	font: 12px arial, tahoma, helvetica, sans-serif;
}

table.gridlines, table.gridlines th, table.gridlines td {
	border: 1px solid black;
}

table.gridlines th, table.gridlines td {
	padding: 3px;
}

table.gridlines th {
	text-align: center;
}

tr.row0 td {
	font-weight: bold;
}

/**
 * 	Action Column
 */
.x-column-action-edit{
	height:16px;
	background-image:url('images/edit.png');
	background-repeat: no-repeat;
	background-color: transparent;
}
/**
 * LinkButton classes
 * @see http://www.sencha.com/forum/showthread.php?80639-Ext.LinkButton-A-button-class-which-renders-an-lt-a-gt-element.
 */
table.x-btn .x-btn-small td.x-btn-mc em a {
	text-decoration: none;
	display: block;
	height: 12px;
	padding-bottom: 2px;
	padding-top: 2px;
}

body.ext-opera table.x-btn .x-btn-small td.x-btn-mc em a, body.ext-chrome table.x-btn .x-btn-small td.x-btn-mc em a {
	padding-top: 1px;
}

body.ext-chrome table.x-btn .x-btn-small td.x-btn-mc em a {
	padding-bottom: 3px;
}

a.x-btn-text {
	color: #333;
}

/** Force grid column trigger to be shown **/
.x-column-header-trigger {
	display: block !important;
	background-color: #F5F5F5;
}

/** Ext.ux.CheckColumn **/
.x-grid-checkheader {
	height: 14px;
	background-image: url('images/unchecked.gif');
	background-position: 50% -2px;
	background-repeat: no-repeat;
	background-color: transparent;
}

.x-grid-checkheader-checked {
	background-image: url('images/checked.gif');
}

.x-grid-checkheader-editor .x-form-cb-wrap {
	text-align: center;
}

.x-grid-cell-inner dl {
	margin-bottom: 0;
	margin-top: 0;
}

/**
 * 	Ext.ux.form.field.ClearButton
 */
.ext-ux-clearbutton {
    width: 12px;
    height: 12px;
    background-image: url(./images/clear-text-icon.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
    -moz-user-focus: ignore; /* https://developer.mozilla.org/en/CSS/-moz-user-focus */
    cursor: pointer;
    position: absolute;
    overflow:  hidden; /* IE 6 :-( */
    margin-top: 4px;
    background-color: white;
}
 
.ext-ux-clearbutton-mouse-over-input {
    background-position: 0 -12px;
}
 
.ext-ux-clearbutton-mouse-over-button {
    background-position: 0 -24px;
}
 
.ext-ux-clearbutton-mouse-down {
    background-position: 0 -36px;
}
 
.ext-ux-clearbutton-on {
    opacity: 1;
    visibility: visible;
    transition: opacity .35s linear;
    -webkit-transition: opacity .35s linear;
    -moz-transition: opacity .35s linear;
    -o-transition: opacity .35s linear;
    -ms-transition: opacity .35s linear;
    -khtml-transition: opacity .35s linear;
}
 
.ext-ux-clearbutton-off {
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s linear, visibility .0s linear .35s;
    -webkit-transition: opacity .35s linear, visibility .0s linear .35s;
    -moz-transition: opacity .35s linear, visibility .0s linear .35s;
    -o-transition: opacity .35s linear, visibility .0s linear .35s;
    -ms-transition: opacity .35s linear, visibility .0s linear .35s;
    -khtml-transition: opacity .35s linear, visibility .0s linear .35s;
}