<a class="btn btn-primary"
	href="<?php
echo $this->url('application/default', array(
    'controller' => 'Listing',
    'action' => 'create'
));
?>">Insert</a>
<table class="table">
	<tr>
		<th><?php echo $this->translate('Image');?></th>
		<th><?php echo $this->translate('Title');?></th>
		<th><?php echo $this->translate('Description');?></th>
		<th>&nbsp;</th>
	</tr>
     <?php foreach ($this->paginator as $Listing) : ?>
    <tr>
		<td>OK</td>
		<td><?php echo $this->escapeHtml($Listing->title);?></td>
		<td><?php echo $this->escapeHtml($Listing->description);?></td>
		<td><a
			href="<?php
        echo $this->url('application/default', array(
            'action' => 'edit',
            'id' => $Listing->id
        ));
        ?>">Edit</a> <a
			href="<?php
        echo $this->url('application/default', array(
            'action' => 'delete',
            'id' => $Listing->id
        ));
        ?>">Delete</a></td>
	</tr>
     <?php endforeach; ?>
 </table>
<div class="row">
	<div class="span12 text-center">
    <?php echo $this->paginationcontrol($this->paginator,'sliding',array('partial/paginator.phtml','application'))?>
    </div>
</div>
