<!doctype html>
<html class="no-js" lang="en">
<head>
<title>Admin Portal</title>
<meta charset="utf-8">
<link rel="dns-prefetch" href="//ajax.googleapis.com" />

<meta name="description" content="" />
<meta name="author"
	content="Britannica Creations (http://www.bricre.com)" />

<!-- Mobile viewport optimized: j.mp/bplateviewport -->
<meta name="viewport" content="width=device-width,initial-scale=1" />

<!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

<!-- CSS: implied media=all -->
<!-- CSS concatenated and minified via ant build script-->
<link rel="stylesheet" type="text/css"
	href="/extjs/resources/css/ext-all.css?<?php echo $this->versioncontrol() ?>" />
<link rel="stylesheet" type="text/css"
	href="/static/css/extjs-additional.css?<?php echo $this->versioncontrol() ?>" />
<link rel="stylesheet" type="text/css"
	href="/static/Ext/ux/grid/css/GridFilters.css?<?php echo $this->versioncontrol() ?>" />
<link rel="stylesheet" type="text/css"
	href="/static/Ext/ux/grid/css/RangeMenu.css?<?php echo $this->versioncontrol() ?>" />
<!-- end CSS-->



<!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="/apple-touch-icon-144x144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="/apple-touch-icon-114x114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="/apple-touch-icon-72x72-precomposed.png" />
<link rel="apple-touch-icon-precomposed"
	href="/apple-touch-icon-precomposed.png" />

<script type="text/javascript"
	src="/extjs/ext-all<?php if('production'!=APPLICATION_ENV) echo '-debug'?>.js?<?php echo $this->versioncontrol() ?>"></script>
<?php
$locale = Locale::getPrimaryLanguage($this->sl->get('translator')->getLocale());
if ('en' != $locale) :
    ?>
<script type="text/javascript"
	src="<?php echo $this->systemConfig->cdn ?>/extjs/locale/ext-lang-<?php echo $locale?>.js?<?php echo $this->versioncontrol() ?>"></script>
<script type="text/javascript"
	src="<?php echo $this->systemConfig->cdn ?>/static/SysX/locale/<?php echo $locale?>.js?<?php echo $this->versioncontrol() ?>"></script>
<?php endif;?>
<script type="text/javascript">
	var environment = '<?php echo APPLICATION_ENV ?>',
		locale = '<?php echo $locale;?>',
		modulePath = '/admin',
		userHash = <?php echo $this->user? json_encode($this->user):"{}";?>,
		isBS = false<?php //echo $this->siteConfig->features->birdsystem ? 'true': 'false'?>,
		defaultCountryIso = '<?php echo $this->defaultCountryIso; ?>'
		menuPosition = 'top';

	Ext.Loader.setConfig({
		enabled : true,
		paths : {
			'SysX' : '/static/SysX',
			'proxy' : '/static/',
			'Ext.ux' : '/static/Ext/ux'
		}
	});
	Ext.onDocumentReady(function(){
		app = Ext.create('SysX.application.Admin');
		app.launch();
		Ext.fly('loading').hide();
	});
</script>
</head>

<body>
	<div id="loading"
		style="position: absolute; width: 180px; margin: -70px 0 0 -90px; height: 140px; top: 50%; left: 50%">
		<h1>Loading...</h1>
	</div>
	<div id="HomePanelContent" class="x-hidden">Main Panel here</div>
	<div id="paypalPaymentFormDiv" class="x-hidden"></div>

	<script type="text/javascript"
		src="/static/Ext/ux/form/DateTime.js?<?php echo $this->versioncontrol() ?>"></script>
	<script type="text/javascript"
		src="/static/SysX/Patch.js?<?php echo $this->versioncontrol() ?>"></script>
	<?php echo $this->inlineScript();?>
</body>
</html>